body {
    font-family: 'DotGothic16', sans-serif;
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222C3B;
    color: white ;
}

.container {
    text-align: center;
    width: 800px;
    height: 1100px;
    background-color: #52656E;
}

.title{
margin-bottom: 100px;
padding: 40px;

}

.wordBox {
    background-color: #B58863;
    margin-left: 150px;
    padding: 40px;
    width: 400px;
    margin-bottom: 90px;
    font-size: 16px;
    font-family: 'DotGothic16', sans-serif;
    border-radius: 50px;
}
textarea {
    width: 90%;
    height: 50px;
    font-size: 16px;
    font-family: 'DotGothic16', sans-serif;
    border: 35px solid #D3C3B9; 
    border-radius: 5px; 
    
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'DotGothic16', sans-serif;
    cursor: pointer;
    color: white;
    background-color: #222C3B;
}

#result {
    font-size: 30px;
    font-family: 'DotGothic16', sans-serif;
    
}





